include CHANGELOG.txt
include INSTALL.txt
include LICENSE.txt
include MANIFEST.in
include README.txt
recursive-include docs *
recursive-include registration/bin *
recursive-include registration/locale *
recursive-include registration/templates *
