include CHANGELOG
include INSTALL
include LICENSE
include MANIFEST.in
include README.rst
include AUTHORS
recursive-include docs *
prune docs/_build
recursive-include registration/locale *
recursive-include registration/templates *
