name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python: ["3.6", "3.7", "3.8", "3.9", "3.10"]
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}
    - name: Install test dependencies
    run: |
      pip install -r test-requirements.txt
    - name: Test
    run: |
      make lint && tox
      coveralls
